<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %> 
    </head>
    <header>
        <% include ./partials/header %>
    </header>
    <body>
        <div id="container">
            <section class="container">
                <div class= "two row">
                        <img class="img2 img-responsive" src="<%= products.image %>" class="cover-img">
              
                        <h1 class="detail"><%= products.name %></h1>
                        <h1 class="detail"><%= products.description%></h1>
                        <div class="btn121">
                                <a href='/editProduct/<%= products._id %>'><button class="btn">Edit product</button></a>
                                <a href='/add-to-cart/<%= products._id %>'><button class="btn">Add to cart</button></a>
                        </div>   
                </div>
            </section>
            <footer>
              
            </footer>
        </div>
    </body>
</html>