<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %> 
    </head>
    <header>
        <% include ./partials/header %>
    </header>
    <body>
        <div id="container">
            <section class="container">
                <div class="one">
                    <h3>Select a category</h3>
                    <a onclick="">Straws</a>
                    <br>
                    <a onclick="">Bottles</a>
                    <br>
                    <a onclick="">Recycle bag</a>
                </div>
                <div class= "two row">
                        <img src="../Public/images/myImage-1565653643559.png" class="cover-img">
               <h1><%= products._id %></h1>
               <h1><%= products.name %></h1>
               <h1><%= products.description%></h1>
               <a href='/editProduct/<%= products._id %>'><button class="btn">Edit product</button></a>
               <a href='/cart/<%= products._id %>'><button class="btn">Add to cart</button></a>
                   
                </div>
                </div>
            </section>
            <footer>
                <% include ./partials/footer %>
            </footer>
        </div>
    </body>
</html>